@font-face {
  font-family: Righteous;
  src: url(../fonts/Righteous-Regular.ttf);
}

h1,h2,h3 {
  font-family: Righteous;
}

body {
  height: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1, h2, h3 {
  padding: 8px 16px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

header {
  background-color: black;
  color: salmon;
}

header nav {
  background-color: salmon;
  height: 35px;
  padding-top: 10px;
  padding-left: 10px;
}

nav a {
  color: black;
  font-weight: 700;
  padding: 10px;
  transition: font-size 0.5s ease-in-out; /* Add a transition for the font-size property */
}

nav a:hover {
  color: turquoise;
  font-size: x-large;
}

header h1 {
  padding: 30px;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  font-style: italic;
}

main {
  margin: 10px auto;
  padding: 16px;
  max-width: 960px;
}

/* SECTIONS */
section.page-heading {
  text-align: center;
}

section.salmon-image {
  background-color: rgb(255, 255, 255);
  text-align: center;
  border-bottom: 3px solid black;
}

section .location-header {
  font-weight: 900;
  padding-left: 0%;
}

.section-heading {
  text-align: center;
  padding: 18px;
  font-weight: 900;
}

/* LISTS */
ul li {
  list-style: none;
  margin: 5px 32px;
  font-size: 1.2em;
}

.total-sales {
  font-weight: 900;
}

/* FOOTER AREA */
footer {
  background-color: rgb(177, 176, 176);
  padding: 16px 32px;
  height: 70px;
  text-align: center;
}
